name: 'Destroy'

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write # <--- REQUIRED for OIDC

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  Destroy:
    name: 'Destroy'
    runs-on: ubuntu-latest
    environment: dev

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.13.5"
    
    # configure AWS Credentials 
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-region: us-east-1
        role-session-name: GitHubActionsTerraform
        role-to-assume: ${{ secrets.AWS_ADMIN_ROLE }}


    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      run: terraform init

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      run: terraform fmt -check
    
    # Destroy Terraform managed infrastructure
    - name: Terraform Plan Destroy
      run: terraform plan -destroy -input=false -out=tfplan.out
    
    - name: Terraform Destroy
      if: github.ref == 'refs/heads/main'
      run: terraform apply tfplan.out
